  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
   
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../uploads/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../uploads/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../uploads/assets/dist/js/adminlte.js"></script>
<!-- custom js -->
<script src="../uploads/assets/dist/js/custom.js"></script>
<script src="../uploads/assets/plugins/summernote/summernote-bs4.min.js"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="../uploads/assets/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../uploads/assets/dist/js/pages/dashboard3.js"></script>
<script src="../uploads/assets/dist/js/pages/dashboard3.js"></script>
</body>
</html>
